.popup {
    -fx-background-color: -fx-base;
    -fx-border-color: derive(-fx-base, -30%);
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 0.3em;
}

.hyperlinkLabel {
    -fx-text-fill: -fx-accent;
}