.price-rising {
    -fx-text-fill: #29b739
}

.price-falling {
    -fx-text-fill: #FF4136
}

.binance-color {
    -fx-text-fill: #cc9200
}

.poloniex-color {
    -fx-text-fill: #3D9970
}

.bitfinex-color {
    -fx-text-fill: #2ECC40
}

.huobi-color {
    -fx-text-fill: #0074D9
}

.kucoin-color {
    -fx-text-fill: #5758BB;
}

.status-connecting {
    -fx-background-color: #FFDC00
}

.status-connected {
    -fx-background-color: #2ECC40
}

.status-disconnected {
    -fx-background-color: #FF4136
}

.text-cryptopanic {
    -fx-text-fill: #FF851B
}

.text-coingecko {
    -fx-text-fill: #2ECC40
}

.new-version-text {
    -fx-text-fill: #FF4136
}