* {
    base-color: #373e43;
    hyperlink-color: #7FDBFF;
}

.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: base-color;
    -fx-control-inner-background: derive(-fx-base, 15%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
    -fx-selection-bar: -fx-base;
    -fx-selection-bar-non-focused: -fx-base;
}

.scroll-bar {
    -fx-background-color: -fx-base;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #ffffff;
}

.text-field {
    -fx-prompt-text-fill: derive(-fx-text-fill, -20%);
}

.table-cell > .check-box > .box {
    -fx-border-color: derive(-fx-text-fill, -20%);
}

.list-cell > .check-box > .box {
    -fx-border-color: derive(-fx-text-fill, -20%);
}

.hyperlink {
    -fx-text-fill: hyperlink-color;
}

.hyperlinkLabel {
    -fx-text-fill: hyperlink-color;
}

.popup {
    -fx-base: base-color;
    -fx-background-color: base-color;
    -fx-border-color: derive(-fx-base, -30%);
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 0.3em;
}