---
---

@import "{{ site.theme }}";

section {
	width: 680px;
}
header {
	width: 180px;
}
footer {
	width: 180px;
}
.wrapper {
	width: 900px;
}
.download-button {
	background-color: #33cc33;
	color: white;
	border-radius: 20px;
	padding: 10px;
}

